<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_Pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,902},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>close_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,931},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>exit_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,804},{104,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,41}}</string>
                <key>sourceSize</key>
                <string>{104,41}</string>
            </dict>
            <key>game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>guider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,491},{438,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,449}}</string>
                <key>sourceSize</key>
                <string>{438,449}</string>
            </dict>
            <key>light_Pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,921},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>menu_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,902},{246,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,67}}</string>
                <key>sourceSize</key>
                <string>{246,67}</string>
            </dict>
            <key>over_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{463,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,487}}</string>
                <key>sourceSize</key>
                <string>{463,487}</string>
            </dict>
            <key>replay_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,804},{238,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,95}}</string>
                <key>sourceSize</key>
                <string>{238,95}</string>
            </dict>
            <key>restart_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{149,57}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,804},{108,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,145}}</string>
                <key>sourceSize</key>
                <string>{108,145}</string>
            </dict>
            <key>share_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,804},{230,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,96}}</string>
                <key>sourceSize</key>
                <string>{230,96}</string>
            </dict>
            <key>start_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>start_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,804},{216,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,104}}</string>
                <key>sourceSize</key>
                <string>{216,104}</string>
            </dict>
            <key>startplay_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,804},{115,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,67}}</string>
                <key>sourceSize</key>
                <string>{115,67}</string>
            </dict>
            <key>weixin_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,910},{373,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,67}}</string>
                <key>sourceSize</key>
                <string>{373,67}</string>
            </dict>
            <key>yes_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,901},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameIMG.png</string>
            <key>size</key>
            <string>{1431,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:387b0e5bc6ce3c4658cc3de10731ec50:1/1$</string>
            <key>textureFileName</key>
            <string>gameIMG.png</string>
        </dict>
    </dict>
</plist>
